.box-model{

    width: 200px;
    height: 100px;
    padding: 15px 25px 10px 30px;
    border-top: 3px solid rgb(125, 194, 93);
    border-bottom: 3px solid rgba(95, 219, 79, 0.333);
    border-right: 3px solid rgb(68, 136, 74);
    border-left: 3px solid rgb(58, 170, 127);
    background-color: rgb(220, 255, 196);
    border-radius: 8px;
    outline: 5px solid #148fa5;
    text-align: center;
    text-transform: uppercase;
}

.intern{
    background-color: #148fa5;
    color: aliceblue;
    border: none;
}