p{
    color: blueviolet;
}

body{
    padding-bottom: 500px;
    
}

.rgba-opacit{
    background-color: rgba(90,120,20,0.2);
    color: #000;
}

.rgba-opacit h1{
    color: #3b8eaf;
}

.bgimg{
    color: #5dc591cb;
}

.bgimg h1{
    background-image: url(/img/nature.jpg);
    padding: 10px;
    text-align: center;

}